<style>
centerwa{
  text-align: center;
  vertical-align: mid;

}
ul{

  list-style-position: inside;
}
body {
    background-color:#FFE59D;
    text-align: center;
    vertical-align: middle;

}
h1{
  color: red;
  text-align: center;
}
hr{
  background-color:yellow;
  height: 1px;
  width:30%;


}

</style>
